<div class="flex h-screen w-screen">
  <div class="flex flex-1 items-center justify-center">
    <div
      class="hero-image col-span-full bg-cover bg-center absolute left-0 right-0 top-0 overflow-hidden shadow-lg"
    >
      <div class="bg-gradient absolute w-full h-full z-40 opacity-60"></div>

   
    </div>
    <div class="z-10 bg-white shadow-xl rounded-lg px-4 sm:w-[500px] sm:h-[350px]">
      <!-- logo -->
      <div class="flex items-center justify-center mt-6">
        <b class="text-md pl-3 font-bold text-gray-700 dark:text-black"> CITE FACULTY ATTENDANCE MONITORING </b>
      </div>
      <!-- Route -->
        <div class="my-10 space-y-6">
            <div class="text-center">
                <h2 class="mb-1 text-3xl font-semibold text-gray-700 dark:text-black">
                <span class="text-primary-500">ATTENDANCE</span> {{dateText}}
                </h2>
                <p class="text-sm text-gray-400 dark:text-night-200">tap your rfid</p>
            </div>


            <div class="flex flex-row gap-4">
                <div class="shrink w-52 h-40 bg-blue-600 rounded-md bg-cover bg-center" [ngStyle]="{ 'background-image': userPhoto ? 'url(' + userPhoto + ')' : 'url(' + 'https://img.freepik.com/free-vector/illustration-gallery-icon_53876-27002.jpg?w=826&t=st=1690083748~exp=1690084348~hmac=be81378bdfcd56d14d4980e65fce154be8b702cc3b98108b29f78bb8d8466ed1' + ')' }"></div>
                <div class="grow h-72">
                  <form [formGroup]="form" (ngSubmit)="onAddFaculty()">
                    <div>
                        <div class="form__group mb-2 w-full z-0"> 

                          <div class="relative">
                            <input
                              type="text"
                              id="rfid"
                              class="peer block"
                              autofocus
                              placeholder=" "
                              formControlName="rfid" />
                            <label
                              for="rfid"
                              class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-500 dark:bg-night-700 dark:text-night-200">
                              RFID
                            </label>
                          </div>
                          
                        </div>  
                    
                    </div>
                  </form>
                  <div class="flex flex-col justify-between h-28">
                    <b class="text-sm font-semibold text-gray-700 dark:text-black"> Name: {{displayNameFaculty}} </b>
                    <b class="text-sm font-semibold text-gray-700 dark:text-black"> Time In: {{timeIn}} </b>
                    <b class="text-sm font-semibold text-gray-700 dark:text-black"> Time Out: {{timeOut}} </b>
                  </div>
                  
                </div>
            </div>
        </div>

    </div>
  </div>
</div>
